data/StudyEMIP/*
data/StudySharafi/*
data/StudyPeitek/*
!data/*/.gitkeep

.idea/
.ipynb_checkpoints
fragen.txt
todo.txt
myenv/
StudyPeitek/data/RQ1/plots_ogama
StudyPeitek/data/RQ1/plots_pygaze
utils/__pycache__
utils/pygazehelper/__pycache__