data/StudyEMIP/*
data/StudySharafi/*
data/StudyPeitek/*

.idea/
.ipynb_checkpoints/
fragen.txt
todo.txt
myenv/
StudyPeitek/data/RQ1/plots_ogama/scanpaths/
StudyPeitek/data/RQ1/plots_ogama/vertical_scanpaths/
utils/__pycache__/